$marginBottomHeader: 8px;
$textAlignHeader: right;
$nameSize: 19px;
$descriptionSize: 13px;
$marginBottomName: -4px;
$marginTopDescription: 0px;
$borderRadius: 4px solid;
$rankRowPadding: 5px;
$rankDivPadding: 12px