$marginBottomHeader: 8px;
$textAlignHeader: right;
$nameSize: 18px;
$descriptionSize: 12px;
$marginBottomName: -4px;
$marginTopDescription: 0px;
$borderRadius: 4px solid;
$rankRowPadding: 5px;
$rankDivPadding: 12px;
$marginImageHeader: 20px;
$paddingImageHeader: 15px 0;